In [52]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import HistGradientBoostingClassifier
from catboost import CatBoostClassifier

In [53]:
df = pd.read_csv("train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [54]:
df = df.drop(['PassengerId','Name','Ticket','Fare', 'Cabin'], axis = 1)
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0         0       3    male  22.0      1      0        S
1         1       1  female  38.0      1      0        C
2         1       3  female  26.0      0      0        S
3         1       1  female  35.0      1      0        S
4         0       3    male  35.0      0      0        S

In [55]:
df.dropna(inplace=True)

In [56]:
df['Embarked'].isnull().sum()

0

In [57]:
df.replace({'Embarked':{'C':0,'S':1,'Q':2,}},inplace=True)
df.replace({'Sex':{'male':1,'female':0}},inplace=True)
df['total_fam'] = df['SibSp'] + df['Parch']
df.head()
df = df.drop(['SibSp','Parch'], axis =1 )

In [58]:
X = np.array(df.drop(["Survived"], axis=1))
y = np.array(df["Survived"])

In [59]:
test_df = pd.read_csv('test.csv')
test_df.replace({'Embarked':{'C':0,'S':1,'Q':2,}},inplace=True)
test_df.replace({'Sex':{'male':1,'female':0}},inplace=True)
test_df['total_fam'] = test_df['SibSp'] + test_df['Parch']
test_df.head()
test_df = test_df.drop(['SibSp','Parch'], axis =1 )
test_df = test_df.drop(['Name','Ticket','Fare', 'Cabin'], axis = 1)

test_df.head()

   PassengerId  Pclass  Sex   Age  Embarked  total_fam
0          892       3    1  34.5         2          0
1          893       3    0  47.0         1          1
2          894       2    1  62.0         2          0
3          895       3    1  27.0         1          0
4          896       3    0  22.0         1          2

In [60]:
X_test = np.array(df.drop(["Survived"], axis=1))

In [61]:
cb = CatBoostClassifier(
    iterations = 100,
    diffusion_temperature= 0.7,
    learning_rate = 0.0085
)
cb.fit(X,y)

0:	learn: 0.6900685	total: 1.46ms	remaining: 145ms
1:	learn: 0.6874473	total: 1.85ms	remaining: 90.9ms
2:	learn: 0.6841341	total: 2.28ms	remaining: 73.8ms
3:	learn: 0.6829449	total: 2.65ms	remaining: 63.6ms
4:	learn: 0.6819104	total: 2.97ms	remaining: 56.4ms
5:	learn: 0.6794570	total: 3.17ms	remaining: 49.7ms
6:	learn: 0.6788503	total: 3.45ms	remaining: 45.8ms
7:	learn: 0.6761520	total: 3.78ms	remaining: 43.5ms
8:	learn: 0.6734865	total: 4.19ms	remaining: 42.3ms
9:	learn: 0.6710825	total: 4.58ms	remaining: 41.2ms
10:	learn: 0.6701798	total: 4.75ms	remaining: 38.4ms
11:	learn: 0.6675647	total: 5.07ms	remaining: 37.2ms
12:	learn: 0.6650796	total: 5.31ms	remaining: 35.5ms
13:	learn: 0.6643599	total: 5.54ms	remaining: 34ms
14:	learn: 0.6629544	total: 5.93ms	remaining: 33.6ms
15:	learn: 0.6601720	total: 6.1ms	remaining: 32ms
16:	learn: 0.6577493	total: 6.49ms	remaining: 31.7ms
17:	learn: 0.6565616	total: 6.75ms	remaining: 30.8ms
18:	learn: 0.6542476	total: 7.07ms	remaining: 30.1ms
19:	learn: 0.6522983	total: 7.4ms	remaining: 29.6ms
20:	learn: 0.6512268	total: 7.62ms	remaining: 28.7ms
21:	learn: 0.6490645	total: 7.81ms	remaining: 27.7ms
22:	learn: 0.6468136	total: 8.06ms	remaining: 27ms
23:	learn: 0.6456876	total: 8.37ms	remaining: 26.5ms
24:	learn: 0.6448114	total: 8.73ms	remaining: 26.2ms
25:	learn: 0.6425652	total: 9.18ms	remaining: 26.1ms
26:	learn: 0.6422205	total: 9.44ms	remaining: 25.5ms
27:	learn: 0.6410800	total: 9.7ms	remaining: 24.9ms
28:	learn: 0.6397514	total: 9.97ms	remaining: 24.4ms
29:	learn: 0.6385919	total: 10.2ms	remaining: 23.8ms
30:	learn: 0.6361679	total: 10.5ms	remaining: 23.3ms
31:	learn: 0.6342751	total: 10.6ms	remaining: 22.6ms
32:	learn: 0.6323961	total: 10.9ms	remaining: 22.1ms
33:	learn: 0.6305060	total: 11.1ms	remaining: 21.6ms
34:	learn: 0.6303285	total: 11.3ms	remaining: 20.9ms
35:	learn: 0.6282798	total: 11.6ms	remaining: 20.6ms
36:	learn: 0.6264889	total: 11.8ms	remaining: 20.1ms
37:	learn: 0.6255876	total: 12.2ms	remaining: 19.9ms
38:	learn: 0.6233500	total: 12.6ms	remaining: 19.6ms
39:	learn: 0.6224742	total: 12.9ms	remaining: 19.3ms
40:	learn: 0.6204959	total: 13.6ms	remaining: 19.5ms
41:	learn: 0.6187722	total: 13.9ms	remaining: 19.2ms
42:	learn: 0.6166754	total: 14.3ms	remaining: 19ms
43:	learn: 0.6150139	total: 14.7ms	remaining: 18.7ms
44:	learn: 0.6130385	total: 15.1ms	remaining: 18.4ms
45:	learn: 0.6122811	total: 15.7ms	remaining: 18.4ms
46:	learn: 0.6107072	total: 16ms	remaining: 18ms
47:	learn: 0.6099902	total: 16.2ms	remaining: 17.6ms
48:	learn: 0.6084362	total: 16.6ms	remaining: 17.3ms
49:	learn: 0.6064241	total: 17ms	remaining: 17ms
50:	learn: 0.6060580	total: 17.2ms	remaining: 16.6ms
51:	learn: 0.6040368	total: 17.6ms	remaining: 16.3ms
52:	learn: 0.6020843	total: 18.3ms	remaining: 16.2ms
53:	learn: 0.6004116	total: 18.8ms	remaining: 16ms
54:	learn: 0.5998493	total: 19.1ms	remaining: 15.6ms
55:	learn: 0.5983822	total: 19.3ms	remaining: 15.2ms
56:	learn: 0.5977296	total: 19.6ms	remaining: 14.8ms
57:	learn: 0.5975677	total: 19.8ms	remaining: 14.4ms
58:	learn: 0.5960044	total: 20.2ms	remaining: 14.1ms
59:	learn: 0.5953200	total: 20.7ms	remaining: 13.8ms
60:	learn: 0.5939207	total: 21.3ms	remaining: 13.6ms
61:	learn: 0.5920850	total: 21.9ms	remaining: 13.4ms
62:	learn: 0.5915679	total: 22.3ms	remaining: 13.1ms
63:	learn: 0.5899474	total: 22.5ms	remaining: 12.6ms
64:	learn: 0.5881874	total: 23.2ms	remaining: 12.5ms
65:	learn: 0.5865201	total: 23.4ms	remaining: 12.1ms
66:	learn: 0.5849598	total: 23.7ms	remaining: 11.7ms
67:	learn: 0.5836833	total: 24.1ms	remaining: 11.3ms
68:	learn: 0.5822555	total: 24.5ms	remaining: 11ms
69:	learn: 0.5816351	total: 24.6ms	remaining: 10.6ms
70:	learn: 0.5802917	total: 24.8ms	remaining: 10.1ms
71:	learn: 0.5787449	total: 25.4ms	remaining: 9.87ms
72:	learn: 0.5771198	total: 25.8ms	remaining: 9.55ms
73:	learn: 0.5754650	total: 26.1ms	remaining: 9.17ms
74:	learn: 0.5742649	total: 26.4ms	remaining: 8.79ms
75:	learn: 0.5724928	total: 26.7ms	remaining: 8.44ms
76:	learn: 0.5712443	total: 27ms	remaining: 8.07ms
77:	learn: 0.5707813	total: 27.4ms	remaining: 7.73ms
78:	learn: 0.5704759	total: 27.8ms	remaining: 7.39ms
79:	learn: 0.5688635	total: 29ms	remaining: 7.24ms
80:	learn: 0.5671230	total: 29.3ms	remaining: 6.87ms
81:	learn: 0.5657014	total: 30.5ms	remaining: 6.7ms
82:	learn: 0.5645762	total: 30.9ms	remaining: 6.33ms
83:	learn: 0.5634834	total: 31.3ms	remaining: 5.96ms
84:	learn: 0.5621852	total: 31.8ms	remaining: 5.6ms
85:	learn: 0.5607042	total: 32.1ms	remaining: 5.23ms
86:	learn: 0.5593047	total: 32.4ms	remaining: 4.84ms
87:	learn: 0.5581005	total: 32.6ms	remaining: 4.44ms
88:	learn: 0.5574184	total: 32.9ms	remaining: 4.06ms
89:	learn: 0.5567568	total: 33.3ms	remaining: 3.7ms
90:	learn: 0.5557546	total: 33.5ms	remaining: 3.31ms
91:	learn: 0.5543318	total: 33.8ms	remaining: 2.93ms
92:	learn: 0.5532129	total: 34.1ms	remaining: 2.56ms
93:	learn: 0.5521916	total: 34.3ms	remaining: 2.19ms
94:	learn: 0.5510517	total: 34.8ms	remaining: 1.83ms
95:	learn: 0.5504861	total: 35ms	remaining: 1.46ms
96:	learn: 0.5493337	total: 35.3ms	remaining: 1.09ms
97:	learn: 0.5486605	total: 35.5ms	remaining: 723us
98:	learn: 0.5483257	total: 36ms	remaining: 364us
99:	learn: 0.5470571	total: 36.5ms	remaining: 0us

In [62]:
predictions_cb = cb.predict(np.array(test_df.drop(['PassengerId'], axis=1)))

In [63]:
ada = AdaBoostClassifier()
ada.fit(X,y)

AdaBoostClassifier()

In [64]:
predictions_ada = ada.predict(np.array(test_df.drop(['PassengerId'], axis=1)))

ValueError: Input X contains NaN.
AdaBoostClassifier does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [65]:
test_df['Survived'] = predictions_cb
test_df.head()

   PassengerId  Pclass  Sex   Age  Embarked  total_fam  Survived
0          892       3    1  34.5         2          0         0
1          893       3    0  47.0         1          1         1
2          894       2    1  62.0         2          0         0
3          895       3    1  27.0         1          0         0
4          896       3    0  22.0         1          2         1

In [ ]:
test_df.filter(['PassengerId', 'Survived']).to_csv('1_titanic_cb.csv', index=False)